@media screen and (max-width:576px) {
    nav{
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        gap: 20px;
        height: auto;
    }
    nav li{
        
        display:block;
        text-align: center;
        padding: 15px;
        
        }
        /* banner section */
    .banner-container{
        flex-direction: column-reverse;
        height: auto;
        width: 100%;
       
    }
    .banner-content{
        width: 100%;
        height: auto;
    margin:30px 0;

    }
    .banner-img{
        max-width: 100%;
        height: auto;
        
    }
    .banner-img img{
        max-width: 100%;
        object-fit: cover;
    }
    /* online image responsive */
    .online-img{
        flex-direction: column;
    }

    /* play instantly */
    .play-instantly{
        flex-direction: column;
       
    }
    .play-img{
       max-width: 100%;
       height: auto;
       margin: 0 auto;
    }
    .play-img img{
    width: 400px;
    }
    .lady img{
        height: 170px;
       width: 200px;
     }
    .play-content{
        margin-bottom: 100px;
        padding: 0;
        text-align: center;
    }
    /* footer */
    .foot{
        max-width: 100%; 
     }
     .footer-block{
        display: block;
       padding: 20px;
      }
      .play-img > img{
        height: 350px;
        width: 300px;
        margin-left: -20px;
     }
     .policy-nav{
        padding: 10px;
      }
    

}

/* Responsive for tab */
@media screen and (min-width:576px) and (max-width:992px)  {
    nav{
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        gap: 20px;
        height: auto;
        max-width: 100%;
    }
    nav li{
        
        display:block;
        text-align: center;
        padding: 15px;
        
        }

    /* banner section */
    .banner-container{
        flex-direction: column-reverse;
        height: auto;
        max-width: 100%;
       
    }
    .banner-content{
        width: 100%;
        height: auto;
    margin:30px 0;

    }
    .banner-img{
        max-width: 100%;
        height: auto;
        
    }
    .banner-img img{
        max-width: 100%;
        object-fit: cover;
    }
    /* online image responsive */
    .online-img{
        flex-direction: column;
    }
    /* play instantly */
    .play-instantly{
        flex-direction: column;
       
    }
    .play-img{
       max-width: 100%;
       height: auto;
       margin: 0 auto;
    }
    .play-img > img{
        height: 350px;
        width: 300px;
        margin-left: -20px;
     }
    
    
    
    .play-content{
        margin-bottom: 100px;
        padding: 0;
        text-align: center;
    }

    /* footer */
    .foot{
       max-width: 100%; 
    }
    .footer-block{
        display: block;
       padding: 20px;
      }
      .policy-nav{
        padding: 10px;
      }
     
}